DATABASE__HOST=localhost
DATABASE__PORT=5432
DATABASE__NAME=site_DB
DATABASE__USER=prostgres
DATABASE__PASSWORD=changeme

REDIS__HOST=localhost
REDIS__PORT=6379

SENTRY__DSN=https://examplekey@o0.ingest.sentry.io/0
SENTRY__ENVIRONMENT="development"

APP_NAME=site-api
DEBUG=false